body {
  background-color: #234;
}

.cardsContainer {
  width: 100%;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.cardsContainer > * {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
}

.slider {
  display: flex;
  width: 300px;
  flex-direction: column;
  min-height: 100%;
  padding: 8px;
  gap: 16px;
}

.card div {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 24px;
} */

/* .wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 16px;
} */
